<div id="forgot-password" fxLayout="column" fusePerfectScrollbar>

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center" *fuseIfOnDom
         [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div id="forgot-password-form">

            <div class="logo">
                <img src="assets/images/logos/Logo_triangulo_solo_large.png">
            </div>

            <div class="title">{{ 'FORGOT-PWD.Title' | translate }}</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="{{'FORGOT-PWD.Fields.Email' | translate}}" formControlName="email">
                    <mat-error *ngIf="forgotPasswordFormErrors.email.required">
                        {{ 'FORGOT-PWD.FieldsRequireds.EmailRequired' | translate }}
                    </mat-error>
                    <mat-error *ngIf="!forgotPasswordFormErrors.email.required && forgotPasswordFormErrors.email.email">
                        {{ 'FORGOT-PWD.FieldsRequireds.EmailValid' | translate }}
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    {{ 'FORGOT-PWD.BTN' | translate }}
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">{{ 'FORGOT-PWD.BACK' | translate }}</a>
            </div>

        </div>

    </div>

</div>