<div id="compl" fxLayout="column" appPerfectScrollbar>

  <div id="compl-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="compl-form" >

      

          <h1>{{ 'COMPL.Title' | translate }}</h1>

          
    
          <form name="complForm" [formGroup]="complForm"  (ngSubmit)="complform(); $event.preventDefault()" #f="ngForm" novalidate>
            <mat-form-field>
              <mat-select placeholder="{{'COMPL.COMBONAME' | translate}}" formControlName="country" required>
                  <mat-option  value="0">
                      <span class="iso">Brasil</span>
                  </mat-option>
              </mat-select>
          </mat-form-field>

          <br>

            <mat-form-field>
              <mat-select placeholder="{{'COMPL.COMBONAME2' | translate}}" formControlName="state" required>
                  <mat-option  value="0">
                      <span class="iso">Brasilia</span>
                  </mat-option>
              </mat-select>
          </mat-form-field>

          <br>

              <mat-form-field>
                  <input matInput type="text" placeholder="{{'COMPL.Fields.City' | translate}}" name="city" formControlName="city" required>
                  <mat-error *ngIf="complFormErrors.city.required">
                      {{ 'COMPL.FieldsRequireds.CityRequired' | translate }}
                  </mat-error>
              </mat-form-field>
          <br>
              <mat-form-field>
                  <input matInput placeholder="{{'COMPL.Fields.ZIP' | translate}}" formControlName="zip" required>
                  <mat-error *ngIf="complFormErrors.zip.required">
                      {{ 'COMPL.FieldsRequireds.ZIPRequired' | translate }}
                  </mat-error>
                
              </mat-form-field>

          <br>

          <mat-form-field>
            <input matInput placeholder="{{'COMPL.Fields.Street' | translate}}" formControlName="street" required>
            <mat-error *ngIf="complFormErrors.street">
                {{ 'COMPL.FieldsRequireds.StreetRequired' | translate }}
            </mat-error>
           
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="{{'COMPL.Fields.Number' | translate}}" formControlName="number" required>
          <mat-error *ngIf="complFormErrors.Number">
              {{ 'COMPL.FieldsRequireds.NumberRequired' | translate }}
          </mat-error>
         
      </mat-form-field>

      <br>
        <mat-form-field>
          <input matInput placeholder="{{'COMPL.Fields.Complement' | translate}}" formControlName="complement" required>
          <mat-error *ngIf="complFormErrors.Complement">
              {{ 'COMPL.FieldsRequireds.ComplementRequired' | translate }}
          </mat-error>
         
      </mat-form-field>

      <br>
          <div>
              <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                      [disabled]="complForm.invalid">
                      {{ 'COMPL.BTN' | translate }}
              </button>
          </div>
          </form>

        
      </div>

  </div>

</div>